*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    background: #faf;
}
#linkTo button{
    margin: auto;
    display: block;
    margin-top: 4%;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px;
    
}